<ion-header>
  <ion-toolbar>
    <ion-title> Buscar Película </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar
    placeholder="Buscar Película"
    [debounce]="700"
    animated
    [value]="searchText"
    (ionInput)="onSearchChange($event)"
  />
</ion-toolbar>

<ion-content>
  <ion-grid *ngIf="loading && searchText.length > 0">
    <ion-row>
      <ion-col>
        <ion-spinner name="crescent" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="movies.length === 0">
    <ion-header>
      <ion-toolbar>
        <ion-title>Ideas</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-item
      *ngFor="let featured of featuredMovies | slice: 0 : 6"
      (click)="selectIdea(featured.title)"
    >
      <ion-label color="primary">{{ featured.title }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let movie of movies">
        <ion-card (click)="viewMovieDetails(movie.id)">
          <img [src]="movie.poster_path | image" [alt]="movie.title" />
          <ion-card-header>
            <ion-card-subtitle>{{ movie.release_date }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <h2>{{ movie.title }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
