<components-header title="Cards" />

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline" />
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, id at
      nulla in iure non.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/stan-lee.jpg" />
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam,
      temporibus!
    </ion-card-content>
  </ion-card>
</ion-content>
